* {
    padding: 0;
}

/* body, main {
    border: 3px solid blueviolet;
    margin: 0.5rem 0.5rem 0.5rem 0;

} */

body {
    background-color: antiquewhite;
    margin: 0;
}

header {
    width: 100%;           
    background-color:#C08261; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

main {
    margin: 0 0 1rem 0;
    margin-top: 60px;
    padding: 80px; 
    background-color:antiquewhite;
    font-family: "Roboto", sans-serif;
    overflow: auto;
}

nav{

    display: flex;
    justify-content:right;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin: 0 20px;
}

.header-logo {
    margin: 0 2.5rem 0 10%;
    display: inline-block;
}

.header-menubar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.header-menubar ul{
    margin-left: 0.5rem;
    list-style: none;
    vertical-align: middle;
}

.header-menubar li {
    float: left;
    margin: 0 1rem 0.75rem 1rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.20rem;
    font-weight: 600;
}

.header-menubar a {
    text-decoration: none;
    color: black;
}

.header-menubar a:hover {
    background: burlywood;
}

#news-feed .news-block {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 5px;
    padding:5px 0 5px 0

}

#news-feed .news-block .left-block{
     width: 65%;
     font-family: Arial, Helvetica, sans-serif;
}

#news-feed .news-block .right-block{

    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    
} 

#news-feed article{
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    height: 50%;
}

#news-feed .news-block .left-block article{
    height: 100%;
}

#news-feed .news-block .right-block article{
    height: 50%;

}


#news-feed h1{
    margin: 25px 0 20px 0 ;
    font-family:'Signika Negative', sans-serif ;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#news-feed h2{
    font-size: 24px;
    flex-grow: 1;
    font-family: Roboto, sans-seri;
}

#news-feed p{
    flex-grow: 1;
    font-size: 20px;
    color: rgb(24, 23, 23);
}

#news-feed figure{
    margin: 0;
    margin-bottom: 25px;
    position: relative;

}

#news-feed figure img {
   
    width: 100%;
    padding-bottom:5 px;
    border-bottom: 1px solid lightgray;
}

footer {
    background-color:rgb(208, 160, 143);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    padding: 0.5rem 0 1rem 0;
    width: 100%;
}

.contact-icon {
    box-sizing: content-box;
    width: 1.75rem;
    margin: 0 0.5rem 0 0rem;
    vertical-align: sub;
}

.contact-block {
    display: inline-block;
    margin: 0.5rem 3.5rem 0 3rem;
}

.contact-block ul {
    list-style: none;
}

.contact-block li {
    margin: 0.5rem 2rem 0.5rem 0;
    vertical-align: super;
    display: inline-block;
    font-size: 0.85rem;
}

.contact-block a {
    text-decoration: none;
    color: black;
}

.contact-block a:hover {
    color: azure;
}

#redes-sociales {
    margin-right: 0;
}




